[GLOBAL]
# https://docs.python.org/2/library/logging.html#logging-levels
Loglevel = 20
TimestampFile = /var/run/oxsync/lastrun.timestamp

[OX]
User = user
Password= password
URL = https://ox.prae.me

# Has to be set to the value of the OpenXChange address book
# that should be synced. This can be found in the URL of an address book (folder=XX).
Contacts_folder = 58

[REDMINE]
Key = key
Project = Vertrieb
URL = https://redmine.prae.me
# Set this to true if you use the free, light version
# of the CRM Redmine plugin
CRMLight = false

# ID of the contact custom field "uid", ID given by Redmine,
# get this with a GET request on a contact.
ID_field_id = 23
UID_field_id = 11
OXURL_field_id = 12

[MAIL]
Server = mx00.prae.me
Port = 587
User = user@praemandatum.de
Password = password
Sender = user@praemandatum.de
AdminMail = user@praemandatum.de

